
    body {
        background-color: rgba(14, 13, 13, 0.226);
    }

    td {
        font-size: 25px;
        font-style: normal;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(163, 31, 31);
     }
     /* Barra de progresso */
     .progress {
        margin-top: 80px;
     }

     .container {
        margin-top: 20px;
     }
     
     .table {
         margin-top: 25px;
     }

